<div class="content">
  <div class="container">

    <div class="section header">
      <img src="assets/bgAuthentication.jpg" alt="bg"/>
    </div>

    <div class="section body">
      <h3>Nom du sujet :</h3>
      <title-component [label]="name" size="regular"></title-component>

      <p>{{description}}</p>
    </div>

    <div class="section footer">
      <div class="link left">
        <div class="cliquable">
          <span class="material-symbols-sharp">edit_note</span>
          <p>Modifier</p>
        </div>
      </div>

      <div class="link right">
        <div class="cliquable">
          <span class="material-symbols-sharp">delete</span>
          <p>Supprimer</p>
        </div>
      </div>

    </div>

  </div>
</div>
