.card {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  .container {
    display: flex;
    align-items: center;

    .join{
      margin-left: auto;
    }

    .administrator-profile {
      position: relative;
      display: flex;
      -moz-box-align: center;
      justify-content: center;
      align-items: flex-start;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1;
      border-radius: 50%;
      overflow: hidden;
      user-select: none;
      background: transparent;
      color: rgb(255, 255, 255);
      font-weight: 400;
      width: 2.0rem;
      height: 2.0rem;
      font-size: 0.875rem;
      margin-right: 20px;

      img {
        width: 100%;
        text-align: center;
        object-fit: cover;
        color: transparent;
        text-indent: 10000px;
        height: auto;
      }
    }

    .field {
      display: flex;
      box-sizing: border-box;
      width: 80%;


      div{
        width: 100%;

      }

      div h2{
        margin: 0px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 0.75rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        opacity: 1;
        text-transform: capitalize;
        vertical-align: unset;
        text-decoration: none;
        color: rgb(123, 128, 154);
        font-weight: 600;
        min-width: 84px;
      }

      div h3 {
        margin: 0px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
        opacity: 1;
        text-transform: capitalize;
        vertical-align: unset;
        text-decoration: none;
        color: rgb(52, 71, 103);
        font-weight: 400;
      }
    }
  }
}
@media (max-width: 1024px) {
  .card{
    padding-right: 20px;
    padding-left: 20px;

    .category{
      display: none;
    }
  }
}
