.container{
  display: flex;
}

.tp-highred {
  color: #f7345e;
  background: linear-gradient(-107deg,#82009f 0%,#f7345e 100%);
  background-clip: border-box;
  transform: skewX(-10deg);
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0px;
}

.tp-highred.large {
  font-size: 2em;
  line-height: 1.05em;
}

h2{
  font-size: 45px;
  line-height: 50px;
  font-family: proximal, serif;
  color: #1c0950;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
