.bg {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 700px;
  position: fixed;
  top: 0;
  left: 0;
  background: url("../../assets/bgAuthentication.webp") no-repeat;
  background-size: cover;
  background-position: top;

}

@media (max-width: 1024px) {
  .bg{
    display: none;
  }
}
.center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-account {
  display: flex;
  width: 1300px;
  height: 700px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);

  .left-section {
    position: relative;
    background: #050a0d;
    //#192e39
    padding: 60px;
    border-radius: 5px 0 0 5px ;
    width: 50%;
    color: white;
    font-family: comfortaLight, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .logo {
      align-self: flex-end;
      img{
        width: 350px;
      }
    }

    .description{
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      p{
        font-size: 17px;
        margin-bottom: 10px;
        text-align: right;
        line-height: 30px;
      }
      .iphone-presentation{
        img{
          width: 400px;
        }
      }
    }

    .background-motif{
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/motif.png');
      background-size: 700px;
      background-repeat: no-repeat;
      background-position: bottom left;
      z-index: 0;
    }
  }
  @media (max-width: 1024px) {
    .left-section {
      display: none;
    }
  }
  .right-section {
    background: #F5F5F5;
    position: relative;
    padding: 10px;
    border-radius: 0 5px 5px 0 ;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo-mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
      img{
        width: 150px;
      }
    }
    @media (max-width: 1024px) {
      .logo-mobile {
        display: flex;

      }
    }
  }
  @media (max-width: 1024px) {
    .right-section {
      width: 100%;
      align-items: normal;
      padding: 20px;
      border-radius: 0px;

    }
  }
}
@media (max-width: 1024px) {
  .container-account{
    position: fixed;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
.title {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 15px;
  text-align: center;
}
.title::after {
  margin-left: auto;
  margin-right: auto;
}
.title::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 40px;
  height: 2px;
  background-color: #000000;
}
.bottom-description {
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  font-family: interLight, serif;
  font-size: 15px;
  text-align: center;

  span{
    color: #8b4d9f;
  }
}
.content{
  width: 450px;
}
@media (max-width: 1024px) {
  .content{
    position: relative;
    width: 100% !important;
    height: 90%;
    box-sizing: border-box;

  }
}

.user-form {
  width: 100%;
  margin-bottom: 15px;
}
.field {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: 10px;

  label {
    font-family: interLight, serif;
    margin-bottom: 4px;
  }

  input {
    font-size: 15px;
    padding: 11px;
    height: 25px;
    border: 1px solid #dedede;
    border-radius: 5px;
    outline: none;
  }
  @media (max-width: 1024px) {
    input{
    }
  }

  input:focus{
    border: 1px solid #8b4d9f;
  }

  input:hover{
    border: 1px solid #989898;
  }
}

.submit {
  font-family: 'Poppins', serif;
  font-weight: 700;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border: none;
  background: #8b4d9f;
}
@media (max-width: 1024px) {
  .submit{
    padding: 15px;
  }
}
.submit:hover{
  background: #522d5e;
  cursor: pointer;
}
.input-incorrect {
  border: 1px solid #a20707 !important;
}
.error-message {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 0.7rem;
  font-family: 'Poppins';
  color: white;
  background: #af5858;
  border-radius: 20px;
}
