<div class="bg">

</div>
<div class="center">
  <div class="container-account">
    <div class="left-section">
      <div class="background-motif">

      </div>
      <div class="logo">
        <img src="assets/logo.png" alt="logo">
      </div>

      <div class="description">
        <p> Les solutions de vote en ligne offrent une alternative pratique, sûre et
          transparente aux élections traditionnelles, avec des résultats précis et une
          expérience de vote facile pour tous les participants.</p>

      </div>

    </div>

    <div class="right-section">


      <router-outlet></router-outlet>


    </div>
  </div>
</div>
