nav{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  padding: 20px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

  .container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    overflow-y: scroll;

    .cross {
      position: fixed;
      top: 0;
      right: 0;
      padding: 30px;
      z-index: 2;
      cursor: pointer;

      span{
        color: white;
      }
    }

    .header{
      align-items: center;
      padding: 18px;
      img{
        width: 200px;
      }
    }
    .section{
      margin-top: 15px;
      margin-bottom: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //padding: 20px 20px;
    }
    .body{

    }
    .footer h1{
      margin-top: 18px;
    }
  }
}
.buttons-hidden{
  position: relative;
  padding-bottom: 18px;
}
h1 {
  font-family: Roboto, serif;
  color: white;
  font-size: 0.80rem;
  text-transform: uppercase;
  padding-left: 25px;
  font-weight: bold;
}
