<div class="content" *ngIf="codeSesion == ''">
  <div class="container">
    <div class="header">
      <div class="header-banner">

      </div>
    </div>
    <div [class]="'body ' + size">

      <div class="title-padding">
        <title-component label="Créer votre session de vote" size="regular"></title-component>

      </div>
      <form class="form-polling">


        <mat-stepper labelPosition="bottom" #stepper>
          <mat-step [stepControl]="createPollingStationForm.firstStepForm">

            <form [formGroup]="createPollingStationForm.firstStepForm">
              <ng-template matStepLabel>Informations</ng-template>

              <div class="top">
                <mat-form-field class="input" appearance="fill">
                  <mat-label>Nom de la session</mat-label>
                  <input matInput placeholder="Nom du salon" formControlName="name" required>
                </mat-form-field>

                <mat-form-field class="input" appearance="fill">
                  <mat-label>Catégorie</mat-label>
                  <mat-select formControlName="category">
                    <mat-option value="animaux">Animaux</mat-option>
                    <mat-option value="alimentation">Alimentation</mat-option>
                    <mat-option value="beauté">Beauté</mat-option>
                    <mat-option value="mode">Mode</mat-option>
                    <mat-option value="électronique">Électronique</mat-option>
                    <mat-option value="maison">Maison</mat-option>
                    <mat-option value="sport">Sport</mat-option>
                    <mat-option value="voyage">Voyage</mat-option>
                    <mat-option value="culture">Culture</mat-option>
                    <mat-option value="automobile">Automobile</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>

              <div class="top">
                <mat-form-field class="example-chip-list input-100" appearance="fill">
                  <mat-label>Mot clés</mat-label>
                  <mat-chip-grid formControlName="keywords" #chipGrid aria-label="Enter fruits">
                    <mat-chip-row *ngFor="let key of keywords"
                                  (removed)="remove(key)"
                                  [editable]="true"
                                  (edited)="edit(key, $event)"
                                  [aria-description]="'press enter to edit ' + key.name">
                      {{key.name}}
                      <button matChipRemove [attr.aria-label]="'remove ' + key.name">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                    <input placeholder="Mot clés..."
                           [matChipInputFor]="chipGrid"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="add($event)"/>
                  </mat-chip-grid>
                </mat-form-field>
              </div>

              <div class="top">
                <mat-form-field class="input-100" appearance="fill">
                  <mat-label>Description</mat-label>
                  <input matInput placeholder="Description" formControlName="description" required>
                </mat-form-field>

              </div>

              <div class="top-btn top">
                <button class="btn-next btn-mat" (click)="display('size500')" matStepperNext
                        [disabled]="!createPollingStationForm.firstStepForm.valid">
                  <app-button-dashboard label="Suivant" icon="directions_run">Next</app-button-dashboard>
                </button>
              </div>

            </form>
          </mat-step>


          <mat-step [stepControl]="createPollingStationForm.secondStepForm">
            <form class="form" [formGroup]="createPollingStationForm.secondStepForm">
              <ng-template matStepLabel>Parametrage</ng-template>

              <div class="top check">



              </div>

              <div class="top">
                <mat-form-field class="input-100" appearance="fill">
                  <mat-label>Type de notation</mat-label>
                  <mat-select formControlName="typeNotation">
                    <mat-option value="STAR">Par etoile</mat-option>
                    <mat-option value="LETTER">Par lettre</mat-option>
                    <mat-option value="SCALE10">Par echelle numérique 1 à 10</mat-option>
                    <mat-option value="SCALE20">Par echelle numérique 1 à 20</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="top">
                <mat-form-field class="input-100" appearance="fill">
                  <mat-label>début - fin</mat-label>
                  <mat-date-range-input [min]="today" [rangePicker]="picker">
                    <input formControlName="startPoll" matStartDate placeholder="Start date">
                    <input formControlName="endPoll" matEndDate placeholder="End date">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>

              <div class="top">

                <mat-slide-toggle
                  class="input"
                  [color]="'accent'"
                  [checked]="false"
                  [disabled]="false"
                  formControlName="notationVisible">
                  Les notations des autres membres sont visible
                </mat-slide-toggle>

                <section class="input">
                  <label >Confidentialité:</label><br>
                  <mat-radio-group formControlName="scope" color="accent">
                    <mat-radio-button  value="PUBLIC">
                      Public
                    </mat-radio-button>
                    <mat-radio-button  value="PRIVATE">
                      Privé
                    </mat-radio-button>
                  </mat-radio-group>
                </section>


              </div>
              <div class="top-btn top">
                <button class="btn-next btn-mat" matStepperPrevious>
                  <app-button-dashboard (click)="display('size350')" label="Précédent"
                                        icon="directions_run"></app-button-dashboard>
                </button>
                <button class="btn-previous btn-mat" matStepperNext
                        [disabled]="!createPollingStationForm.secondStepForm.valid">
                  <app-button-dashboard (click)="display('size500')" label="Suivant"
                                        icon="sprint"></app-button-dashboard>
                </button>
              </div>
            </form>
          </mat-step>


          <mat-step [stepControl]="createPollingStationForm.finalStep">
            <form [formGroup]="createPollingStationForm.finalStep">
              <ng-template matStepLabel>Fin</ng-template>
              <p>Pour finir configurer les groupes</p>



              <div class="groups">

                <mat-accordion>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Choisir
                      </mat-panel-title>
                      <mat-panel-description>
                        Nombre de groupe
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <section class="input-100">
                      <mat-slider min="2" max="50" step="1" showTickMarks discrete>
                        <input   formControlName="userLimit" [(ngModel)]="numberOfGroups" value="2" matSliderThumb>
                      </mat-slider>
                    </section>
                  </mat-expansion-panel>
                </mat-accordion>
                <app-add-group (groupsList)="configureGroupList($event)" [numberOfGroups]="numberOfGroups"></app-add-group>




              </div>


              <div class="top top-btn">
                <button class="btn-next btn-mat" matStepperPrevious>
                  <app-button-dashboard label="Précédent" icon="directions_run">Next</app-button-dashboard>
                </button>
                <button class="btn-previous btn-mat" (click)="createSession()"
                        [disabled]="disabledbutton()">
                  <app-button-dashboard label="Créer" icon="add_circle"></app-button-dashboard>
                </button>
              </div>
            </form>
          </mat-step>
        </mat-stepper>

      </form>

    </div>
  </div>


</div>

<div class="sessionCode" *ngIf="codeSesion != '' ">
  <title-component label="Voici le code de votre session" size="big"></title-component>
  <input #code class="start" maxlength='7' value='{{codeSesion}}' disabled/>
</div>
