.content{
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    transform: scale(1);


    .header{
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      top: -1rem;
      width: 100%;

      .header-banner{
        background: linear-gradient(195deg, rgb(187, 102, 158), rgb(139, 77, 159));
        box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
        width: 95%;
        height: 4.5rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
          font-size: 2rem;
          color: white;
        }
      }
      h1{
        font-family: Roboto, serif;
        font-weight: 700;
        color: rgb(52, 71, 103);
        font-size: 1rem;
      }
    }

    .size500 {
      height: 500px;
    }

    .size350 {
      height: 350px;
    }
    .body{
      padding-top: 60px;
      height: 550px;

      .title-padding{
        padding-left: 30px;
        padding-top: 10px;
      }

      .form-polling{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: -0.5rem
      }
      .form-polling > * {
        width: 90%;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-mat{
          background-color: transparent;
          border: transparent;
          margin-bottom: 10px;
        }
        .btn-next{
          margin-left: auto;
        }
        .btn-previous{
        }
        .input {
          width: 49%;
          height: 85.5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
        .input-100{
          width: 100%;
        }
      }
      @media (max-width: 1024px) {
        .top-btn{
        }
        .top{
          .input {
            width: 100%;
          }
        }
      }
      .top-column{
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.second-form{
  display: flex;
  align-items: flex-start;

  .top-column{
    width: 49%;
  }
}
.groups{
  display: flex;
  flex-direction: column;
}
.sessionCode{
  display: flex;
  flex-direction: column;
  align-items: center;
}
$char-w: 1ch;
$gap: .5*$char-w;
$n-char: 7;
$in-w: $n-char*($char-w + $gap);

.start {
  display: block;
  border: none;
  padding: 0;
  width: $in-w;
  background: repeating-linear-gradient(90deg,
    dimgrey 0, dimgrey $char-w,
    transparent 0, transparent $char-w + $gap)
  0 100%/ #{$in-w - $gap} 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: $gap;
  font-size: 110px;

  &:focus {
    outline: none;
    color: #a50baf;
  }
}
