.header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    justify-content: space-between;

    .logo{
      display: none;
    }

    .right-component {
      .icons-top {
        display: flex;
        color: rgb(123, 128, 154);
        width: 100px;
        justify-content: space-between;

        span {
          font-size: 1.4em;
        }
      }
    }

    .left-component {
      display: flex;
      align-items: center;

      .path {
        display: flex;
        justify-content: flex-start;
        width: 230px;
        font-family: Roboto, serif;
        font-weight: 400;
        letter-spacing: 0.02857em;
        font-size: 0.875rem;
        color: rgb(52, 71, 103);
        text-transform: capitalize;
        opacity: 0.5;

        span {
          font-size: 1.0rem;
        }

        .separator {
          display: flex;
          align-items: center;
          user-select: none;
          margin-left: 8px;
          margin-right: 8px;
          font-size: 0.875rem;
          color: rgb(23, 36, 56);

        }
      }

      .nav-mobile-btn {
        display: flex;
        align-items: center;
        cursor: pointer;

      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    border: 1px solid #e1e1e1;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;

    .container {
      .logo{
        display: flex;
        img{
          width: 150px;
        }
      }
      .left-component {
        .path {
          display: none;
        }
      }
    }
  }
}
