<div class="header">
  <div class="container">
    <div class="left-component">
      <div class="path">
        <span class="material-symbols-sharp">home</span>
        <li class="separator"> / </li>
        <p>dashboard</p>
        <li class="separator"> / </li>
        <p>test</p>
      </div>

      <div class="nav-mobile-btn" (click)="showNavMethod()">
        <span class="material-symbols-sharp">menu</span>
      </div>
    </div>

    <div class="logo">
      <img src="assets/logoBlack.png"/>
    </div>

    <div class="right-component">
      <app-notify></app-notify>
    </div>

  </div>
</div>
