<div class="list">
  <div class="container">



    <div class="header" (click)="redirectToStation(pollingStationId)">
      <div class="header-icon {{colorHeader}}">
        <span class="material-symbols-sharp">live_tv</span>
        <span class="line"></span>
        <span class="material-symbols-sharp">lock</span>
        <span class="line"></span>
        <span class="material-symbols-sharp">visibility</span>
      </div>
    </div>

    <div class="add-btn">
    </div>

    <div class="body">
      <div class="top">
        <title-component [label]="title" size="small"></title-component>
        <p>{{description}}</p>
      </div>

      <line-component color="black"></line-component>
      <div class="bottom">
        <span class="material-symbols-outlined">schedule</span>
        <p> créer il y a 2 min</p>
      </div>
    </div>

  </div>

</div>

