.parent {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  .section {
    box-sizing: border-box;
  }

  .nav-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    z-index: 2;
  }

  .dashboard-section {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 340px;
    padding-right: 40px;
    padding-top: 45px;
    box-sizing: border-box;
    z-index: 1;

    .element{
      display: flex;
      justify-content: space-between;
      width: 100%;

      *{
        width: 49%;
      }
    }
  }

}

//mobile
@media (max-width: 1540px) {
  .parent {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

    .section {
      position: absolute;
      box-sizing: border-box;
    }

    .nav-section {
      top: 0;
      left: 0;
      width: 310px;
      height: 100%;
      z-index: 2;
    }

    .dashboard-section {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding-left: 340px;
      padding-right: 40px;
      padding-top: 45px;
      box-sizing: border-box;
      z-index: 1;

      .element{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        *{
          width: 100%;
        }
      }
    }

  }
}

//mobile 1024
@media (max-width: 1024px) {
  .parent {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

    .section {
      box-sizing: border-box;
    }

    .nav-section {
      position: fixed;
      top: 0;
      left: 0;
      width: 310px;
      height: 100%;
      z-index: 2;
    }

    .dashboard-section {
      position: absolute;

      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      box-sizing: border-box;
      z-index: 1;

      .element{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        *{
          width: 100%;
        }
      }
    }

  }
}
