<div class="bg_dashboard">
</div>

<nav>
  <div class="nav-dash">
    <div class="section first-section">
      <img src="assets/logo.png" alt="logo">
    </div>
    <div class="line"></div>
    <div class="section second-section">
      <div class="owner link">
        <div class="content-owner-infos">
          <div class="owner-icon">
            <img src="assets/profil.jpeg" alt="ownerUser"/>
          </div>
          <p>Brooklyn Alice</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>
    </div>


    <div class="line"></div>


    <div class="section third-section">
      <div class="link">
        <div class="content-link-infos">
          <div class="link-icon">
            <span class="material-symbols-sharp">dashboard</span>
          </div>
          <p>Home</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>
      <h1 class="title-navigation">Navigation</h1>
      <div class="owner link">
        <div class="content-link-infos">
          <div class="link-icon">
            <span class="material-symbols-sharp">grade</span>
          </div>
          <p>Gestion de salon</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>

      <div class="owner link">
        <div class="content-link-infos">
          <div class="link-icon">
            <span class="material-symbols-sharp">grade</span>
          </div>
          <p>Gestion de salon</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>
      <div class="owner link">
        <div class="content-link-infos">
          <div class="link-icon">
            <span class="material-symbols-sharp">browse_activity</span>
          </div>
          <p>Historique</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>
    </div>



    <div class="line"></div>


    <div class="section third-section">
      <h1 class="title-navigation">Autres</h1>
      <div class="owner link">
        <div class="content-link-infos">
          <div class="link-icon">
            <span class="material-symbols-sharp">grade</span>
          </div>
          <p>Donnez votre avis</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>
      <div class="owner link">
        <div class="content-link-infos">
          <div class="link-icon">
            <span class="material-symbols-sharp">home</span>
          </div>
          <p>Nous contacter</p>
        </div>
        <span class="material-symbols-sharp arrow"> expand_more </span>
      </div>
    </div>

  </div>

</nav>
