<!--
<div class="introduction">

  <div class="left">

    <div class="inside">
      <div class="header-intr">
        <img src="assets/efrei.png"/>
        <h1>x</h1>
        <img src="assets/logo.png"/>
      </div>

      <div class="body-intr">
<h2 class="tp-highred">Presentation de poll project</h2>
        <p>Nous avons le plaisir de vous présenter notre site de vote, créé dans le cadre du module de développement web sous la direction de Monsieur Halim. Notre objectif principal était de concevoir un site à la fois simple et intuitif, offrant une expérience utilisateur exceptionnelle afin de garantir l'engagement de notre public.

          Grâce à une approche centrée sur l'utilisateur, nous avons soigneusement conçu chaque aspect de notre site de vote pour le rendre convivial et facile à naviguer. Nous comprenons l'importance d'une interface utilisateur intuitive qui permet à nos utilisateurs de voter sans effort, en minimisant les frictions et en maximisant l'efficacité du processus de vote.

          Notre équipe a travaillé en étroite collaboration pour développer un site qui répond aux attentes les plus élevées en termes de qualité et de performance. Nous avons utilisé les dernières technologies et les meilleures pratiques de développement pour garantir la sécurité et la fiabilité de notre site de vote.

        <h2 class="tp-highred collab">Les collaborateurs</h2>
        <div class="photos">
          <div class="profile">
            <img src="assets/profil.jpeg">
          </div>

          <div class="profile">
            <img src="assets/profil.jpeg">
          </div>

          <div class="profile">
            <img src="assets/profil.jpeg">
          </div>

          <div class="profile">
            <img src="assets/profil.jpeg">
          </div>

          <div class="profile">
            <img src="assets/profil.jpeg">
          </div>
        </div>

        <h2 class="tp-highred">Specifications techniques</h2>
        <p>Nous sommes ravis de vous présenter notre site, réalisé avec Angular et Java Spring Boot. Cette combinaison de technologies robustes nous permet d'offrir une plateforme web performante et sécurisée.

          L'interface de notre site communique de manière sécurisée grâce à un système de token. Pour gérer l'authentification et l'autorisation, nous avons fait appel à Keycloak, un outil open source Java. Avec Keycloak, nous assurons la confidentialité des données et offrons une expérience utilisateur fiable et sécurisée.

          Du côté du backend, nous avons adopté une architecture hexagonale qui favorise une bonne séparation entre le traitement métier et la partie applicative. Cette approche nous permet de développer de manière modulaire et de maintenir un code propre et maintenable.

          Pour le frontend, nous avons opté pour une approche orientée composants et services. Chaque partie de l'application a sa propre responsabilité clairement définie, ce qui facilite le développement, la maintenance et les mises à jour de notre site.

          Notre site est hébergé sur un serveur web dédié, offrant une disponibilité et une performance optimales. Pour garantir un déploiement continu et une intégration sans faille, nous avons mis en place une pipeline Jenkins configurée pour le CI/CD (Continuous Integration/Continuous Deployment).</p>
      </div>

    </div>
  </div>

</div>
-->
<div class="content">
  <div class="container">
    <div class="header">
      <h2><span class="tp-highred large">Exprimez vous</span><br>{{title}}</h2>
      <p></p>
    </div>

    <div class="body">
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>

    </div>
  </div>
</div>

