.tp-highred {
  color: #f7345e;
  background: linear-gradient(-107deg,#82009f 0%,#f7345e 100%);
  background-clip: border-box;
  transform: skewX(-10deg);
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0px;
}

.tp-highred.large {
  font-size: 2em;
  line-height: 1.05em;
}

h2{
  font-size: 45px;
  line-height: 50px;
  font-family: proximal, serif;
  color: #1c0950;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}
.content{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

 }
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}
.body{
  height: 476px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.introduction{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);


  .left{
    height: 100%;
    width: 50%;
    background-color: #111;
    box-shadow: 9px 3px 24px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 3px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 3px 24px 0px rgba(0,0,0,0.75);
    padding: 30px;
    box-sizing: border-box;
    box-sizing: border-box;
    .inside{
      .header-intr{
        display: flex;
        align-items: center;
        color: white;
        h1{
          font-family: proximal;
        }
        img{
          width: 150px;
        }
      }
      .body-intr{
        display: flex;
        flex-direction: column;
        color: white;
        font-family: Roboto;
        text-align: justify;
        font-weight: 300;
        h2{
          margin-top: 30px !important;
          margin-bottom: 20px !important;
          font-size: 50px;
        }
        .photos{
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
        }
        .profile {
          position: relative;
          display: flex;
          -moz-box-align: center;
          justify-content: center;
          align-items: center;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          line-height: 1;
          border-radius: 50%;
          overflow: hidden;
          user-select: none;
          background: transparent;
          color: rgb(255, 255, 255);
          font-weight: 400;
          width: 6.25rem;
          height: 6.25rem;
          font-size: 0.875rem;
          margin-right: 20px;
          margin-left: 20px;

          img {
            width: 100%;
            text-align: center;
            object-fit: cover;
            color: transparent;
            text-indent: 10000px;
            height: auto;
          }
        }
      }
    }


  }
}

