<h1 class="title">Creez votre compte</h1>
<div class="content">
  <form class="user-form" [formGroup]="createAccountForm">
    <div class="field">
      <label for="nom">Nom </label>
      <input class="form-control" type="text" id="nom" name="nom" formControlName="nickname" required>
    </div >
    <div class="field">
      <label for="prenom">Prénom </label>
      <input class="form-control" type="text" id="prenom" name="prenom" formControlName="username" required>
    </div>
    <div class="field">
      <label for="email">Email </label>
      <input #emailAdress [class]="'form-control ' + classNamesEmail" type="email" id="email" name="email" formControlName="email" (keyup)="checkEmailAdressForm(emailAdress .value)" required>
    </div>
    <div class="field">
      <label for="mot-de-passe">Mot de passe </label>
      <input #password [class]="'form-control ' + classNamesPassword" type="password" id="mot-de-passe" name="mot-de-passe" formControlName="password" (keyup)="checkIsStrongPasswordForm(password .value)" required>
    </div>
    <div class="field">
      <label for="confirmation-mot-de-passe">Confirmation du mot de passe </label>
      <input #assurePassword [class]="'form-control ' + classNamesCheckPassword" type="password" id="confirmation-mot-de-passe" name="confirmation-mot-de-passe" formControlName="confirmation_password" (keyup)="checkPasswordForm(password .value, assurePassword.value)" required>
    </div>
    <button type="submit" [class]="'submit ' + classNamesSubmit" (click)="createAccount()">Je cree mon compte</button>
  </form>
</div>
<div class="bottom-description">
  <p> Vous avez deja un compte ?  <span [routerLink]="['/users/login']" > Connectez vous </span></p>
</div>
