.small {
  font-family: Roboto, serif;
  font-weight: 700;
  color: rgb(52, 71, 103);
  font-size: 1rem;
}

.regular {
  font-family: Roboto, serif;
  font-weight: 700;
  color: rgb(52, 71, 103);
  font-size: 1.25rem;
}
