/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.btn {
  font-family: couture, serif;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border: none;
  background: #8b4d9f;
}
.btn:hover{
  background: #522d5e;
  cursor: pointer;
}

//font

@font-face {
  font-family: "couture";
  src: url('assets/fonts/couture.otf');
}@font-face {
  font-family: "comfortaBold";
  src: url('assets/fonts/ComfortaBold.ttf');
}@font-face {
  font-family: "comfortaLight";
  src: url('assets/fonts/ComfortaLight.ttf');
}@font-face {
  font-family: "couture1";
  src: url('assets/fonts/couture1.otf');
}@font-face {
  font-family: "interBlack";
  src: url('assets/fonts/InterBlack.otf');
}@font-face {
  font-family: "interLight";
  src: url('assets/fonts/InterLight.otf');
}@font-face {
  font-family: "interRegular";
  src: url('assets/fonts/InterRegular.otf');
}@font-face {
  font-family: "mont";
  src: url('assets/fonts/mont.otf');
}@font-face {
  font-family: "montLight";
  src: url('assets/fonts/montLight.otf');
}@font-face {
  font-family: "rockstar";
  src: url('assets/fonts/rockstar.otf');
}
