/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
p, h1, h2, h3{
  margin: 0 !important;
}
.btn {
  font-family: couture, serif;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  border: none;
  background: #8b4d9f;
}
.btn:hover{
  background: #522d5e;
  cursor: pointer;
}
body{
  background-color: rgb(240, 242, 245);
}
.mat-mdc-text-field-wrapper {
  background-color: white !important;
}
.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}
.mat-mdc-form-field-infix label {
  font-family: Roboto;
  font-size: 0.9em;
  font-weight: 300;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
  padding: 0 !important;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
  height: 4rem;
}
.mat-horizontal-stepper-header-container{
  margin-bottom: 50px;
  background-color: transparent;
}
.mat-horizontal-stepper-wrapper{
  position: relative;
  width: 100%;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}
.mat-step-header .mat-step-label.mat-step-label-active {
  color: rgba(255, 255, 255, 0.87);
  font-family: Roboto;
  font-weight: 300;
  font-size: 0.9rem;
}
.mat-horizontal-stepper-header::before, .mat-horizontal-stepper-header::after, .mat-stepper-horizontal-line {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
}
.mat-step-header .mat-step-icon {
  background-color: rgba(255, 255, 255, 0.54);
  color: #6c1368;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #00000059;
  color: #ffffff;
}
.mat-step-header .mat-step-header-ripple:hover {
  background-color: transparent;
}
.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 !important;
}
.mdc-evolution-chip-set__chips {
  min-width: 0;
  display: flex !important;
  justify-content: flex-end;
  flex-flow: nowrap !important;
  padding-right: 4px;
  float: left;
  white-space: nowrap;
  max-width: calc(100% - 31px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.mat-accordion{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.check .mdc-form-field {
  width: 120px;
}
//font

@font-face {
  font-family: "couture";
  src: url('assets/fonts/couture.otf');
}@font-face {
  font-family: "comfortaBold";
  src: url('assets/fonts/ComfortaBold.ttf');
}@font-face {
  font-family: "comfortaLight";
  src: url('assets/fonts/ComfortaLight.ttf');
}@font-face {
  font-family: "couture1";
  src: url('assets/fonts/couture1.otf');
}@font-face {
  font-family: "interBlack";
  src: url('assets/fonts/InterBlack.otf');
}@font-face {
  font-family: "interLight";
  src: url('assets/fonts/InterLight.otf');
}@font-face {
  font-family: "interRegular";
  src: url('assets/fonts/InterRegular.otf');
}@font-face {
  font-family: "mont";
  src: url('assets/fonts/mont.otf');
}@font-face {
  font-family: "montLight";
  src: url('assets/fonts/montLight.otf');
}@font-face {
  font-family: "rockstar";
  src: url('assets/fonts/rockstar.otf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
